{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "react", "prettier"],
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["react"],
  "parserOptions": {
    "sourceType": "module"
  },
  "rules": {
    // don't force es6 functions to include space before paren
    "space-before-function-paren": 0,

    // allow specifying true explicitly for boolean props
    "react/jsx-boolean-value": 0
  }
}
