.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.history
.rpt2_cache
build
coverage
cypress/screenshots
cypress/videos
dist
dist
node_modules
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*