.vite
# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
package-lock.json
yarn.lock

# builds
types
build
*/build
dist
.output
lib
es
artifacts
.rpt2_cache
coverage
*.tgz
.wrangler

# tests
packages/router-generator/tests/**/*.gen.ts

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.history
size-plugin.json
stats-hydration.json
stats-react.json
stats.html
.vscode/settings.json

*.log
.DS_Store
.cache
.pnpm-store
ts-perf

/examples/*/*/yarn.lock
/examples/*/*/package-lock.json

.netlify

nx-cloud.env
.vscode
.nx/cache
.nx/workspace-data

gpt/db.json

app.config.timestamp-*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
app.config.js.timestamp-*
app.config.ts.timestamp-*

app.config.timestamp_*
vite.config.js.timestamp_*
vite.config.ts.timestamp_*
app.config.js.timestamp_*
app.config.ts.timestamp_*
.idea
*.vitest-temp.json
