//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# Note, the settings in this file are ignored by pnpm if the NPM_TOKEN env variable is not set...
# https://github.com/pnpm/pnpm/issues/5914
auto-install-peers=false