**/.next
**/.nx/cache
**/.svelte-kit
**/build
**/coverage
**/dist
pnpm-lock.yaml
**/snapshots
**/.vercel
**/.vinxi
**/.output
**/node_modules
node_modules

**/tests/generator/file-modification/routes/(test)/*