*,
*::before,
*::after,
::backdrop,
::file-selector-button {
  box-sizing: border-box;
  border-color: #e5e7eb;
}

html {
  color-scheme: light dark;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

.using-mouse * {
  outline: none !important;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.flex {
  display: flex;
}

.gap-2 {
  gap: 0.5rem;
}

.text-lg {
  font-size: 1.125rem;
}

.font-bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}
