---

import { Router, createMemoryHistory } from "@tanstack/router"
import App from "../components/App";
import { routeTree } from "../routeTree";
import { createLoaderClient } from "../loaderClient";

const req = Astro.request
const fullUrl = new URL(req.url)
const url = fullUrl.href.replace(fullUrl.origin, '')

console.log('Loading...', url)

const loaderClient = createLoaderClient()

const history = createMemoryHistory({
	initialEntries: [url],
})

// Create a new router
const router = new Router({
	history,
	routeTree,
	context: {
		loaderClient
	}
})

// Load the router
await router.load()

const dehydratedRouter = router.dehydrate()
const dehydratedLoaderClient = loaderClient.dehydrate()

const titleMatch = [...router.state.currentMatches].reverse().find((d) => d.routeContext?.getTitle)
const title = titleMatch?.context?.getTitle?.() ?? 'Astro + TanStack Router'

---

 <html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<script src="https://cdn.tailwindcss.com"></script>
	</head>
	<body>
		<App dehydratedRouter={dehydratedRouter} dehydratedLoaderClient={dehydratedLoaderClient} client:load />
	</body>
</html>


<style is:global>
	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

