@import 'tailwindcss' source('../');

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

body {
  @apply text-base;
  font-family: system-ui, sans-serif;
}
