aside {
  display: flex;
  overflow: auto;
  justify-content: center;

  flex: 0 0 auto;

  margin-bottom: 5px;
}

aside a {
  border: solid 1px transparent;
}

aside a.active {
  border-color: #00c2ab;
}

img {
  display: block;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

main {
  flex: 1;
}

.intro {
  padding: 20px;
}
