* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #0f172a;
  font-family:
    Gordita, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

a {
  margin-right: 0;
}

main {
  text-align: center;
  padding: 0;
  margin: 0;
}
